
<div class="row">
	<div class="small-12 columns">
		<h4>Shared<br><strong>Media Library</strong></h4>

		<div class="backpanel">
			
			<h5>Add <strong>Media</strong><br>
			<small>(png, gif or jpeg only)</small><br>
			<% if flash[:error] %>
				<div data-alert class="alert-box alert">
			  	<%= flash[:error] %>
				  <a href="#" class="close">&times;</a>
				</div>
			<% end %>

			<%= form_for @newphoto, url: shared_media_library_url do |f| %>
				<%= f.file_field :photo, label: "&nbsp;".html_safe, accept: 'image/png,image/gif,image/jpeg' %>
				<%= f.submit 'Add media', class: "tiny radius success button" %>
			<% end %>

		</div>



		<% if @allphotos %>
			<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
				<%= render partial: 'shared/media_library_item', collection: @allphotos %>
			</ul>
		<% end %>

	</div>
</div>

<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->

<% content_for :admin_footer do %>
  
<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->
<div id="adminfooter">
  <div class="wrap">
    <div class="row">

			<div class="small-9 columns">

				<div class="small-4 columns leftadminmenu">
					<div class="small-12 columns text-center leftadminhead ">
						<strong>Audits</strong>
					</div>
					<div class="small-6 columns text-right">
						<%= link_to audits_url do %>
							All<br><strong>Audits</strong>
						<% end %>
					</div>
					<div class="small-6 columns text-left">
						<%= link_to new_audit_url do %>
							Create<br><strong>Audit</strong>
						<% end %>
					</div>
				</div>
				
				<div class="small-1 column">&nbsp;</div>
				
				<div class="small-3 columns leftadminmenu">
					<div class="small-12 columns text-center leftadminhead">
						<strong>Users</strong>
					</div>
					<div class="small-6 columns text-right">
						<%= link_to users_url do %>
							All<br><strong>Users</strong>
						<% end %>
					</div>
					<div class="small-6 columns text-left">
						<%= link_to new_user_url do %>
							Create<br><strong>User</strong>
						<% end %>
					</div>
				</div>
				
				<div class="small-1 column">&nbsp;</div>

				<div class="small-3 columns leftadminmenu end">

						<div class="small-12 columns text-center leftadminhead activehead">
							<strong>Shared Media Library</strong>
						</div>
						
						<div class="small-12 columns text-center admin-nav-active end">
							
								View<br><strong>Library</strong>

						</div>
						
				</div>

			</div>

      <div class="small-3 columns text-right rightadminmenu">
        Los Angeles Controller <strong>Audits</strong><br>
        Welcome, <strong><%= @current_user.email %></strong><br>
        <%= link_to 'Logout', logout_url %>
      </div>

    </div>
  </div>
</div>

<% end %>

