

<h1> Key Findings (for Five Minute Summary) </h1>

<%= form_tag(content_block_helper_path('keyfindings'), id: "keyfindingsHelperForm", method: "post") do %>

  <%= label_tag(:number, "Number") %>
  <%= text_field_tag(:number, "", autocomplete: "off", cols: "2") %>
  
  <%= label_tag(:headline, "Headline") %>
  <%= text_field_tag(:headline, "", autocomplete: "off") %>

  <%= label_tag(:fulltext, "Full Text") %>
  <%= text_area_tag(:fulltext, "", placeholder: "Full Text Goes Here", size: "x10", autocomplete: "off") %>

  <%= submit_tag("Submit", class: "tiny radius success button") %> <a class="tiny radius info button custom-close-reveal-modal">Cancel</a>
<% end %>
