
<div class="row">
<div class="medium-12 columns">
	<h4> Five Minute Summary | Key Finding <strong>Helper</strong> </h4>
</div>
</div>

<%= form_tag(content_block_helper_path('keyfindings'), id: "keyfindingsHelperForm", method: "post") do %>
<div class="row">
<div class="medium-1 columns">
  <%= label_tag(:number, "Number") %>
</div>
<div class="medium-1 columns">
  <%= number_field_tag(:number, "", autocomplete: "off", width: "200", required: true) %>
</div>
<div class="medium-10 columns end">
	<%= text_area_tag(:headline, "", placeholder: "Headline", size: "x2", autocomplete: "off", required: true) %>
</div>
</div>


<div class="row">
<div class="medium-11 medium-offset-1 columns">
  <%= text_area_tag(:fulltext, "", placeholder: "Full Text", size: "x8", autocomplete: "off", required: true) %>
</div>
</div>
<div class="row">
<div class="medium-11 medium-offset-1 columns">
  <%= submit_tag("Submit", class: "tiny radius success button") %> <a class="tiny radius info button custom-close-reveal-modal">Cancel</a>
</div>
</div>

<% end %>
