

<% case @helper_type 

 when 'keyfindings' %>
 
<div class="row KeyFindingsHead" id="KFH<%= @number %>">
<div class="small-1 columns"><span class="KFNum"><%= @number %></span></div>
<div class="small-11 columns"><p><a href="#" data-reveal-id="KFD<%= @number %>" data-reveal style="color:black !important;"><%= @headline %> <small style="color:white !important;">more</small></a></p></div>
</div>

<div id="KFD<%= @number %>" class="reveal-modal" data-reveal>
<div class="row KeyFindingsItemHead">
<div class="small-1 columns"><span class="KFNum"><%= @number %></span></div>
<div class="small-11 columns"><strong><%= @headline %></strong></div>
</div>

<div class="RAmodal">
<%= simple_format(@fulltext) %>
</div>
<a class="close-reveal-modal">&#8855;</a>
</div>

<% when 'plaintext' %>
<%= simple_format(@fulltext) %>

<% when 'pagenumber' %>
<a name="p<%= @number %>" id="p<%= @number %>"></a>

<% when 'imageblock' %>
<!-- Image Block BEGIN --> 
<div class="row imageblock notfullwidth"> 
 <div class="small-12 columns small-centered"> 
   <div class="photoset-grid-lightbox" data-layout="<%= @imagelayout %>" style="visibility: hidden;"> 
     <img src="<%= @image_a.photo(:medium) %>" data-highres="<%= @image_a.photo(:large) %>" > 
     <img src="<%= @image_b.photo(:medium) %>" data-highres="<%= @image_b.photo(:large) %>" > 
     <% if @image_c %>
     <img src="<%= @image_c.photo(:medium) %>" data-highres="<%= @image_c.photo(:large) %>" > 
     <% end %>
   </div> 
   <div class="imagecaption">
	   <%= simple_format(@imageblock_caption, {}, wrapper_tag: "em").gsub(/\n/, '').html_safe %>   
   </div> 
 </div> 
</div> 
<!-- Image Block END --> 

<% when 'chart' %>
<% div_id = Time.now.to_i.to_s + rand(100..999).to_s %>
<%= javascript_tag do %>

google.load("visualization", "1", {packages:["corechart"]});


<%= @fulltext.gsub(/getElementById\(\'visualization\'\)/, "getElementById\(\'#{div_id}\'\)").html_safe %>

google.setOnLoadCallback(drawVisualization);



<% end %>
<div class="row imageblock notfullwidth"> 
<div class="small-12 columns small-centered">
<div id="<%= div_id %>"></div>
</div></div>

<% end %>