<% content_for :title do %>
  Edit Block - Five Minute Summary for <%= @auditname %>
<% end %>

<div class="row">
	<div class="small-9 small-centered columns">


<%= form_for @block, url: content_block_url do |f| %>

	<%= f.text_area :content, rows: "18", class: "resizeable" %>
	
	<%= f.submit 'Update this block' %> <%= link_to 'Cancel', edit_five_minute_summary_url(@block.section.five_minute_summary) %>

<% end %>
	
	</div>
</div>


<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->
<div id="adminfooter">
	<div class="wrap">
		<div class="row">
			<div class="small-3 columns text-right">
				Edit Block <strong><%= simple_format(@auditname, {}, wrapper_tag: "div").gsub(/\n/, '').html_safe %></strong> 
			</div>
			<div class="small-9 columns text-left">
				<%= link_to edit_five_minute_summary_url(@block.section.five_minute_summary) do %>
					<i class="fi-pencil"></i> Back to Edit Five Minute Summary
				<% end %>
			</div>
		</div>
	</div>
</div>