<% content_for :title do %>
  Edit Block - Five Minute Summary for <%= @auditname %>
<% end %>

<div class="row">
	<div class="small-9 small-centered columns">


<%= form_for @block, url: content_block_url do |f| %>

	<%= f.text_area :content, rows: "18", class: "resizeable" %>
	
	<%= f.submit 'Update this block', class: "tiny radius success button" %> <%= link_to 'Cancel (Discard all changes)', @linkto, class: "tiny radius info button" %>

<% end %>


<%= render partial: 'helpers' %>
	
	</div>
</div>



<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->
<div id="adminfooter">
	<div class="wrap">
		<div class="row">
			<div class="small-1 columns text-right">
				&nbsp;
			</div>			
			<div class="small-3 columns text-left">
				<%= @audit_typename %> | Edit Block <strong><%= simple_format(@auditname, {}, wrapper_tag: "div").gsub(/\n/, '').html_safe %></strong> 
			</div>
			<div class="small-8 columns text-left">
				<%= link_to @linkto do %>
					<i class="fi-arrow-left"></i> Back to Edit <%= @audit_typename %> (Discard all changes) 
				<% end %>
			</div>
		</div>
	</div>
</div>