<% content_for :title do %>
  New Block - Five Minute Summary for <%= @section.five_minute_summary.audit.name %>
<% end %>

<div class="row">
	<div class="small-9 small-centered columns">

		<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		<% end %>
		<% if @errors %>
			<p>
			<% @errors.each do |k,v| %>
				<%= k %> <%= v %><br>
			<% end %>
			</p>
		<% end %>



		<%= form_for @newblock, url: new_content_block_url(@section.id, @position) do |f| %>
			
			<%= f.text_area :content %>

			<%= f.submit 'Add new block' %> <%= link_to 'Cancel', edit_five_minute_summary_url(@section.five_minute_summary) %>

		<% end %>

	</div>
</div>

