<% content_for :title do %>
  New Block - Five Minute Summary for <%= @auditname %>
<% end %>



<div class="row">
	<div class="small-9 small-centered columns">

		<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		<% end %>
		<% if @errors %>
			<p>
			<% @errors.each do |k,v| %>
				<%= k %> <%= v %><br>
			<% end %>
			</p>
		<% end %>



		<%= form_for @newblock, url: new_content_block_url(@section.id, @position) do |f| %>
			
			
			<%= f.text_area :content, rows: "18", class: "resizeable"%>

			<%= f.submit 'Add new block', class: "tiny radius success button" %> <%= link_to 'Cancel', :back, class: "tiny radius info button"  %>

		<% end %>

	<div class="row">
		<div class="small-5 columns">
			<div class="backpanel">
				<h6> Content Block Helpers </h6>
				
				<i class="fi-wrench"></i> <%= link_to 'Key Finding Helper', '#', data: { :"reveal-id" => "keyFindingModal"} %><br>
				<i class="fi-wrench"></i> <%= link_to 'Simple Format Helper', '#', data: { :"reveal-id" => "simpleformatModal"} %>
				
			</div>
			<div id="keyFindingModal" class="reveal-modal" data-reveal>
				<%= render partial: 'keyfinding_helper_form', locals: {thissection: '#'} %>
			</div>
			<div id="simpleformatModal" class="reveal-modal" data-reveal>
				<%= render partial: 'simpleformat_helper_form', locals: {thissection: '#'} %>
			</div>
		</div>
	</div>

	</div>
</div>

<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->
<div id="adminfooter">
	<div class="wrap">
		<div class="row">
			<div class="small-3 columns text-right">
				New Content Block <strong><%= simple_format(@auditname, {}, wrapper_tag: "div").gsub(/\n/, '').html_safe %></strong> 
			</div>
			<div class="small-9 columns text-left">
				<%= link_to 'Back to Edit', :back %>

			</div>
		</div>
	</div>
</div>




