<% content_for :title do %>
  New Block - Five Minute Summary for <%= @section.five_minute_summary.audit.name %>
<% end %>



<div class="row">
	<div class="small-9 small-centered columns">

		<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		<% end %>
		<% if @errors %>
			<p>
			<% @errors.each do |k,v| %>
				<%= k %> <%= v %><br>
			<% end %>
			</p>
		<% end %>



		<%= form_for @newblock, url: new_content_block_url(@section.id, @position) do |f| %>
			
			
			<%= f.text_area :content, rows: "18", class: "resizeable"%>

			<%= f.submit 'Add new block', class: "tiny radius success button" %> <%= link_to 'Cancel', edit_five_minute_summary_url(@section.five_minute_summary), class: "tiny radius info button"  %>

		<% end %>

	<div class="row">
		<div class="small-5 columns">
			<div class="backpanel">
				<h6> Content Block Helpers </h6>
				
				<i class="fi-wrench"></i> <%= link_to 'Key Finding Helper', '#', data: { :"reveal-id" => "keyFindingModal"} %>
				
			</div>
			<div id="keyFindingModal" class="reveal-modal" data-reveal>
				<%= render partial: 'keyfinding', locals: {thissection: '#'} %>
			</div>
		</div>
	</div>

	</div>
</div>

<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->
<div id="adminfooter">
	<div class="wrap">
		<div class="row">
			<div class="small-3 columns text-right">
				New Content Block <strong><%= simple_format(@section.five_minute_summary.audit.name, {}, wrapper_tag: "div").gsub(/\n/, '').html_safe %></strong> 
			</div>
			<div class="small-9 columns text-left">
				<%= link_to 'Back to Edit', edit_five_minute_summary_url(@section.five_minute_summary) %>

			</div>
		</div>
	</div>
</div>


<% content_for :javascript_foot do %>
	<%= javascript_tag do %>
		// Attach a submit handler to the form

	$( document ).ready(function() {
		$( '#keyfindingsHelperForm' ).submit(function( event ) {
		 	
		  // Stop form from submitting normally
		  event.preventDefault();
		 
		  // Get some values from elements on the page:
		  var $form = $( this ),
				data = $form.serialize(),
		    url = $form.attr( "action" );
		 
		  // Send the data using post
		  var posting = $.post( url, data );

		  // Put the results in a div
		  posting.done(function( data ) {
		    $( "#content_block_content" ).val( $('#content_block_content').val() + data );
		  });
		  $('#keyFindingModal').foundation('reveal', 'close');
		});
	});


	<% end %>
<% end %>

