<% content_for :title do %>
  New Block - Five Minute Summary for <%= @auditname %>
<% end %>



<div class="row">
	<div class="small-9 small-centered columns">

		<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		<% end %>
		<% if @errors %>
			<p>
			<% @errors.each do |k,v| %>
				<%= k %> <%= v %><br>
			<% end %>
			</p>
		<% end %>



		<%= form_for @newblock, url: new_content_block_url(@section.id, @position) do |f| %>
			
			
			<%= f.text_area :content, rows: "18", class: "resizeable"%>

			<%= f.submit 'Add new block', class: "tiny radius success button" %> <%= link_to 'Cancel', @linkto, class: "tiny radius info button"  %>

		<% end %>

	<%= render partial: 'helpers' %>



<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->
<div id="adminfooter">
	<div class="wrap">
		<div class="row">
			<div class="small-1 columns text-right">
				&nbsp;
			</div>					
			<div class="small-3 columns text-right">
				<%= @audit_typename %> | New Content Block <strong><%= simple_format(@auditname, {}, wrapper_tag: "div").gsub(/\n/, '').html_safe %></strong> 
			</div>
			<div class="small-8 columns text-left">
				<%= link_to @linkto do %>
					<i class="fi-arrow-left"></i> Back to Edit <%= @audit_typename %>
				<% end %>

			</div>
		</div>
	</div>
</div>




