<div class="row">
	<div class="small-4 columns">
		<h2>Edit<br><strong>User - <%=@user.email%></strong></h2>
		<% if flash[:notice] %>
		<div class="small-4 columns">
		<%= flash[:notice] %>
		</div>
		<% end %>`
	</div>
</div>

<div class="row">
	
		<div class="small-5 columns">
			<h4>Change<br><strong>email</strong></h4>
			<div class="backpanel">
				<%= form_for @user, url: user_path(@user) do |f| %>
					<%= hidden_field_tag 'update_type', 'email' %>
					<%= f.text_field :email %>
					<%= f.submit 'Change email', class: "tiny radius success button" %> <%= link_to 'Cancel', users_path, class: "tiny radius info button"  %>
				<% end %>
			</div>
		</div>
		
</div>

<div class="row">
	
		<div class="small-5 columns">
			<h4>Change<br><strong>password</strong></h4>
			<div class="backpanel">
				<%= form_for @user, url: user_path(@user) do |f| %>
					<%= hidden_field_tag 'update_type', 'email' %>
					<%= f.password_field :old_password %>
					<%= f.password_field :new_password %>
					<%= f.password_field :new_password_confirmation %>
					<%= f.submit 'Change password', class: "tiny radius success button" %> <%= link_to 'Cancel', users_path, class: "tiny radius info button"  %>
				<% end %>			
			</div>
		</div>

</div>


<% content_for :admin_footer do %>
  
  <div class="small-4 columns leftadminmenu">
    <div class="small-12 columns">
      <%# dummy div for adminmenu formatting css quirk %>
    </div>
    <div class="small-4 columns text-right">
      <%= link_to users_url do %>
        All<br><strong>Users</strong> 
      <% end %>
    </div>
    <div class="small-8 columns text-left">
      <%# dummy div for adminmenu formatting css quirk %>
    </div>
  </div>
  
  <div class="small-2 columns rightadminmenu">
    <div class="small-12 columns text-left end admin-nav-active">
      Edit<br><strong>User</strong>
    </div>
  </div>

<% end %>