<% content_for :title do %>
  Edit Section - Full Audit for <%= @auditname %>
<% end %>

<div class="row">
	<div class="small-12 columns">

<h4>Edit Section Title</h4>


<%= form_for @section, url: section_url do |f| %>

	<%= f.text_field :display_name, label: false %>
	<%= f.submit 'Update Section Title', class: "tiny radius success button" %> <%= link_to 'Cancel (Discard changes)', edit_full_audit_url(@section.full_audit), class: "tiny radius info button"  %>

<% end %>

	</div>
</div>


<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->


<% content_for :admin_footer do %>
<div id="adminfooter">
	<div class="wrap">
		<div class="row">


			<div class="small-4 columns leftadminmenu">
				<div class="small-3 columns text-right">
					<%= link_to edit_full_audit_url(@section.full_audit) do %>
						Back to<br><strong>Edit Full Audit</strong><br> <small>(Discard changes)</small>
					<% end %>
				</div>
				<div class="small-9 columns text-left">
					Full Audit | Edit Section <strong><%= simple_format(@auditname, {}, wrapper_tag: "div").gsub(/\n/, '').html_safe %></strong>
				</div>
			</div>

			<div class="small-8 columns rightadminmenu">
				<div class="small-2 columns text-left inactive">
					View<br><strong>Five Minute Summary</strong>
				</div>
				<div class="small-2 columns text-left inactive">
					Edit<br><strong>Five Minute Summary</strong>
				</div>
				<div class="small-2 columns text-left inactive">
					View<br><strong>Full Audit</strong>
				</div>
				<div class="small-2 columns text-left inactive">
					Edit<br><strong>Full Audit</strong>
				</div>
				<div class="small-4 columns text-right">
					Los Angeles Controller <strong>Audits</strong><br>
					Welcome, <strong><%= @current_user.email %></strong><br>
					<%= link_to 'Logout', logout_url %>
				</div>		
			</div>

		</div>
	</div>
</div>
<% end %>
