<% content_for :title do %>
  New Section - Full Audit for <%= @auditname %>
<% end %>

<div class="row">
	<div class="small-12 columns">

		<% if flash[:notice] %>
			<p><%= flash[:notice] %></p>
		<% end %>
		<% if @errors %>
			<p>
			<% @errors.each do |k,v| %>
				<%= k %> <%= v %><br>
			<% end %>
			</p>
		<% end %>
		
		<h4>Add New Section</h4>

		<%= form_for @newsection, url: new_section_url(@fa, @position) do |f| %>
			
			<%= f.text_field :display_name, label: 'Section Title' %>
			<%= f.submit 'Add New Section', class: "tiny radius success button" %> <%= link_to 'Cancel (Discard changes)', edit_full_audit_url(@fa), class: "tiny radius info button"  %>

		<% end %>

	</div>
</div>


<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->

<% content_for :admin_footer do %>
<div id="adminfooter">
	<div class="wrap">
		<div class="row">


			<div class="small-4 columns leftadminmenu">
				<div class="small-3 columns text-right">
					<%= link_to edit_full_audit_url(@fa) do %>
						Back to<br><strong>Edit Full Audit</strong><br> <small>(Discard changes)</small>
					<% end %>
				</div>
				<div class="small-9 columns text-left">
					Full Audit | New Section <strong><%= simple_format(@fa.audit.name, {}, wrapper_tag: "div").gsub(/\n/, '').html_safe %></strong>
				</div>
			</div>

			<div class="small-8 columns rightadminmenu">
				<div class="small-2 columns text-left inactive">
					View<br><strong>Five Minute Summary</strong>
				</div>
				<div class="small-2 columns text-left inactive">
					Edit<br><strong>Five Minute Summary</strong>
				</div>
				<div class="small-2 columns text-left inactive">
					View<br><strong>Full Audit</strong>
				</div>
				<div class="small-2 columns text-left inactive">
					Edit<br><strong>Full Audit</strong>
				</div>
				<div class="small-4 columns text-right">
					Los Angeles Controller <strong>Audits</strong><br>
					Welcome, <strong><%= @current_user.email %></strong><br>
					<%= link_to 'Logout', logout_url %>
				</div>		
			</div>

		</div>
	</div>
</div>
<% end %>
