<% content_for :title do %>
  Full Audit for <%= @fa.audit.name %>
<% end %>


<div class="row">
	<div class="small-12 columns">

    <div class="backpanel">
    <div class="headWrapper topHead">
      <div class="row" id="WPtop">
        <div class="small-10 columns small-centered RAmargintop">
          <div class="headback">
                <h1><strong><%= simple_format(@fa.audit.name, {}, wrapper_tag: "div")  %></strong></h1>
                <h4><%= @fa.audit.publication_date.strftime("%B %d, %Y") %>
                <object type="image/svg+xml" data="/img/RGsig.svg" width="275" class="rgsig">
                  RG Signature <!-- fallback image in CSS -->
                </object></h4>
                <!-- <h3>Ron Galperin <small>City Controller</small></h3> -->
          </div>
        </div>
      </div>
    </div>
    </div>
		<!-- BEGIN SECTION SPACER -->
		<div class="AdminSectionSpacer">

		</div>
		<!-- END SECTION SPACER -->

		<%# display sections %>
		<% @fa.section_order.each_with_index do |sid, index| # iterate through sections in order%>
			<% thissection = @fa.sections.find(sid) %>

				<h3><%= thissection.display_name %></h3>
				<%= link_to new_section_url(@fa.id, index ), class: "adminsection" do %>
					<i class="fi-arrow-up"></i> <small>Add a section before</small>
				<% end %>
				| 
				<%= link_to new_section_url(@fa.id, index + 1 ), class: "adminsection" do %>
					<i class="fi-arrow-down"></i> <small>Add a section after</small>
				<% end %>					
				| 			
				 
				<%= link_to edit_section_url(thissection), class: "adminsection" do %>
					<i class="fi-pencil"></i> <small>Edit section title</small>
				<% end %>
				| 
				<a href="#" data-reveal-id="mySectionModalDelete_<%= sid %>" class="adminsection">
						<i class="fi-x"></i> <small>Delete this section</small>
				</a>

				<div class="AdminSectionSpacer2"></div>

				<div id="mySectionModalDelete_<%= sid %>" class="reveal-modal" data-reveal>
					<h2>Delete <strong>Section</strong></h2>
			  	<div class="AdminSectionSpacer1"></div>
				  <h2><%= thissection.display_name %></h2>
				  <div class="AdminSectionSpacer1"></div>
				  <h6>
				  	<strong>Are you sure you want to Delete this Section?</strong><br>
				  	<strong style="color: red;">All content blocks contained in this section will also be deleted.</strong>
				  </h6>
				  <%= button_to "Yes, Delete this section", section_path(thissection), :method => 'delete', class: "tiny radius alert button" %> <a class="tiny radius info button custom-close-reveal-modal">No, I've changed my mind!</a>
				  
				  <a class="close-reveal-modal">&#215;</a>
				</div>


			<% if thissection.content_blocks.empty? %>
				<div class="backpanel">
					<%= link_to new_content_block_url(thissection.id, 0 ) do %>
						<i class="fi-plus"></i> <small>Add a block</small>
					<% end %>
				</div>
			<% else %>

			 <% thissection.block_order.each_with_index do |bid, index| %>
				<% thisblock = thissection.content_blocks.find(bid) # iterate through content blocks in order%>
				<div class="backpanel">

					<% if /<a name="p/.match(thisblock.content) %>
						<p><%= thisblock.content %></p>
					<% else %>
						<p><%= thisblock.content.html_safe %></p>
					<% end %>
					<%= link_to new_content_block_url(thissection.id, index ) do %>
						<i class="fi-arrow-up"></i> <small>Add a block before</small>
					<% end %>
					| 
					<%= link_to new_content_block_url(thissection.id, index + 1 ) do %>
						<i class="fi-arrow-down"></i> <small>Add a block after</small>
					<% end %>					
					| 			
					<%= link_to edit_content_block_url(thisblock) do %>
						<i class="fi-pencil"></i> <small>Edit this block</small>
					<% end %>
					| 
					<a href="#" data-reveal-id="myModal_<%= bid %>">
							<i class="fi-x"></i> <small>Delete this block</small>
					</a>


				</div>
				<div id="myModal_<%= bid %>" class="reveal-modal" data-reveal>
					<h2>Delete <strong>Content Block</strong></h2>
					<div class="AdminSectionSpacer1"></div>
					<% if /<a name="p/.match(thisblock.content) %>
						<p><%= thisblock.content %></p>
					<% else %>
						<p><%= thisblock.content.html_safe %></p>
					<% end %>
				  <h6><strong>Are you sure you want to Delete this Content?</strong></h6>
				  <%= button_to "Yes, Delete this content", content_block_path(thisblock), :method => 'delete', class: "tiny radius alert button" %> <a class="tiny radius info button custom-close-reveal-modal">No, I've changed my mind!</a>
				  
				  <a class="close-reveal-modal">&#215;</a>
				</div>
			 <% end %>

			<% end %>
			<!-- BEGIN SECTION SPACER -->
			<div class="AdminSectionSpacer">

			</div>
			<!-- END SECTION SPACER -->
		<% end %>

		<div class="backpanel">
			<h3> Background Image </h3>
			<%= form_for @fa, url: full_audit_path do |f| %>
				
				<div class="backpanel">
				<%= @fa.background_photo ? (render partial:'shared/bgimage', locals: { bgimage: @fa.background_photo }) : 'No Photo' %>
				<%= f.file_field :background_photo, label: "&nbsp;".html_safe  %>
				</div>

				<%= f.submit 'Upload Background Image' %>

			<% end %>
		</div>
	</div>
</div>

<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->

<% content_for :admin_footer do %>
<div id="adminfooter">
	<div class="wrap">
		<div class="row">

			<div class="small-3 columns leftadminmenu">
				<div class="small-3 columns text-right">
			    <%= link_to audits_url do %>
			      <small>Back to All<br><strong>Audits</strong> </small>
			    <% end %>
				</div>
				<div class="small-9 columns text-left">
					<strong><%= simple_format(@fa.audit.name, {}, wrapper_tag: "span").gsub(/\n/, '').html_safe %></strong> 
				</div>
			</div>

			<div class="small-9 columns rightadminmenu">
				<div class="small-2 columns text-left">
					<%= link_to five_minute_summary_url(@fa.audit.five_minute_summary) do %> 
						View<br><strong>Five Minute Summary</strong>
					<% end %>
				</div>
				<div class="small-2 columns text-left">
					<%= link_to edit_five_minute_summary_url(@fa.audit.five_minute_summary) do %>
						Edit<br><strong>Five Minute Summary</strong>
					<% end %>
				</div>
				<div class="small-2 columns text-left">
					<%= link_to full_audit_url(@fa) do %> 
						View<br><strong>Full Audit</strong>
					<% end %>
				</div>
				<div class="small-2 columns text-left admin-nav-active">
					
						Edit<br><strong>Full Audit</strong>
					
				</div>
				<div class="small-1 columns text-left">
					<%= link_to media_library_url(@fa) do %> 
						Media<br><strong>Library</strong>
					<% end %>
				</div>
	      <div class="small-3 columns text-right">
	        Los Angeles Controller <strong>Audits</strong><br>
	        Welcome, <strong><%= @current_user.email %></strong><br>
	        <%= link_to 'Logout', logout_url %>
	      </div>
			</div>


		</div>
	</div>
</div>
<% end %>
