<% content_for :title do %>
  <%= @fa.audit.name  %>
<% end %>
<% content_for :bodytitle do %>
  <%= simple_format(@fa.audit.name, {}, wrapper_tag: "div")  %>
<% end %>
<% content_for :publication_date do %>
  <%= @fa.audit.publication_date.strftime("%B %d, %Y") %>
<% end %>
<% content_for :five_minute_summary_link do %><%= five_minute_summary_path(@fa.audit.five_minute_summary).html_safe %><% end %>

<% content_for :javascript_head do %>
	<%= javascript_tag do %>
		<% if @fa.background_photo %>
		  window.bgOne = '<%= j @fa.background_photo.photo(:large) %>';
		<% end %>  
	<% end %>
<% end %>



<%# display sections %>
<% @fa.section_order.each do |sid| # iterate through sections in order%>

	<% thissection = @fa.sections.find(sid) %>
	

	<%= render partial: "/shared/#{thissection.section_type.downcase}", layout: "/shared/#{thissection.section_type.downcase}_layout", locals: {thissection: thissection} %>
	
	<!-- BEGIN SECTION SPACER -->
	<div class="RASectionSpacer">

	</div>
	<!-- END SECTION SPACER -->

<% end %>

<% content_for :admin_footer do %>
<div id="adminfooter">
	<div class="wrap">
		<div class="row">

			<div class="small-3 columns leftadminmenu">
				<div class="small-3 columns text-right">
			    <%= link_to audits_url do %>
			      <small>Back to All<br><strong>Audits</strong> </small>
			    <% end %>
				</div>
				<div class="small-9 columns text-left">
					<strong><%= simple_format(@fa.audit.name, {}, wrapper_tag: "span").gsub(/\n/, '').html_safe %></strong> 
				</div>
			</div>

			<div class="small-9 columns rightadminmenu">
				<div class="small-2 columns text-left">
					<%= link_to five_minute_summary_url(@fa.audit.five_minute_summary) do %> 
						View<br><strong>Five Minute Summary</strong>
					<% end %>
				</div>
				<div class="small-2 columns text-left">
					<%= link_to edit_five_minute_summary_url(@fa.audit.five_minute_summary) do %>
						Edit<br><strong>Five Minute Summary</strong>
					<% end %>
				</div>
				<div class="small-2 columns text-left admin-nav-active">
					
						View<br><strong>Full Audit</strong>
					
				</div>
				<div class="small-2 columns text-left">
					<%= link_to edit_full_audit_url(@fa) do %> 
						Edit<br><strong>Full Audit</strong>
					<% end %>
				</div>
				<div class="small-1 columns text-left">
					<%= link_to media_library_url(@fa) do %> 
						Media<br><strong>Library</strong>
					<% end %>
				</div>
	      <div class="small-3 columns text-right">
	        Los Angeles Controller <strong>Audits</strong><br>
	        Welcome, <strong><%= @current_user.email %></strong><br>
	        <%= link_to 'Logout', logout_url %>
	      </div>
			</div>


		</div>
	</div>
</div>
<% end %>
