<% content_for :title do %>
  Edit Audit - <%= @audit.name %>
<% end %>


<div class="row">
  <div class="small-9 small-centered columns">

    <%= form_for @audit, url: audit_url do |f| %>

    	<%= f.text_area :name, cols: 2, rows: 5 %>
    	<%= f.label :publication_date %>
    	<%= f.date_field :publication_date %>
    	
    	<%= f.submit 'Update this Audit' %> 



    <% end %>
	
    <strong> Preview: </strong>
    <div class="backpanel">
    <div class="headWrapper topHead">
      <div class="row" id="WPtop">
        <div class="small-10 columns small-centered RAmargintop">
          <div class="headback">
                <h1><strong><%= simple_format(@audit.name, {}, wrapper_tag: "div")  %></strong></h1>
                <h3>&mdash; Five Minute Summary &mdash;</h3>
                <h4><%= @audit.publication_date.strftime("%B %d, %Y") %>
                <object type="image/svg+xml" data="/img/RGsig.svg" width="275" class="rgsig">
                  RG Signature <!-- fallback image in CSS -->
                </object></h4>
                <!-- <h3>Ron Galperin <small>City Controller</small></h3> -->
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>
</div>

<% content_for :admin_footer do %>

<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->
<div id="adminfooter">
  <div class="wrap">
    <div class="row">
      <div class="small-4 columns leftadminmenu">
        <div class="small-12 columns">
          <%# dummy div for adminmenu formatting css quirk %>
        </div>
        <div class="small-4 columns text-right">
          <%= link_to audits_url do %>
            All<br><strong>Audits</strong> 
          <% end %>
        </div>
        <div class="small-8 columns text-left">
          <strong><%= simple_format(@audit.name, {}, wrapper_tag: "div").gsub(/\n/, '').html_safe %></strong>
        </div>
      </div>
      
      <div class="small-2 columns rightadminmenu">
        <div class="small-12 columns text-left end admin-nav-active">
          Edit<br><strong>Audit Name /<br> Publication Date</strong>
        </div>
      </div>
  
      <div class="small-3 columns text-right rightadminmenu">
        Los Angeles Controller <strong>Audits</strong><br>
        Welcome, <strong><%= @current_user.email %></strong><br>
        <%= link_to 'Logout', logout_url %>
      </div>

    </div>
  </div>
</div>

<% end %>

