<% content_for :title do %>
  Audits List
<% end %>


<div class="row">
	<div class="small-10 small-centered columns">

		<% if flash[:notice] %>
		<div class="row">
			<div class="small-10 small-centered columns">
				<div data-alert class="alert-box success round">
			  	<%= flash[:notice] %>
				  <a href="#" class="close">&times;</a>
				</div>
			</div>
		</div>
		<% end %>

		<table>
		  <thead>
		    <tr>
		      <th>Audit Name</th>
		      <th>Publication Date</th>
		      <th colspan="3"> </th>
		      </tr>
		  </thead>
		  <tbody>
				<% @audits.each do |audit| %>
					
					<tr>
						<td>
							<%= simple_format(audit.name, {}, wrapper_tag: "div") %>
						</td>
						<td>
							<%= audit.publication_date.strftime("%B %d, %Y") %>
						</td>
						<td>
							<%= link_to edit_audit_url(audit) do %>
								<i class="fi-pencil"></i> <small>Edit Audit Title/Pub Date</small>
							<% end %>
						</td>
						<td>
							<%= link_to five_minute_summary_url(audit.five_minute_summary) do %>
								<i class="fi-eye"></i> <small>View Five Minute Summary</small>
							<% end %>
						</td>
						<td>
							<a href="#" data-reveal-id="myModal_<%= audit.id %>">
								<i class="fi-x"></i> <small>Delete this Audit</small>
							</a>
							<div id="myModal_<%= audit.id %>" class="reveal-modal small" data-reveal>
							  <h6>Are you sure you want to delete:</h6>
							  	<h4><%= simple_format(audit.name, {}, wrapper_tag: "div") %></h4>

							  <%= button_to "Yes, Delete", audit_path(audit), :method => 'delete', class: "tiny radius alert button" %> <a class="tiny radius info button custom-close-reveal-modal">No, I've changed my mind!!!</a>
							  <a class="close-reveal-modal">&#215;</a>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>


<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->
<div id="adminfooter">
	<div class="wrap">
		<div class="row">
			<div class="small-3 columns text-right">
				All<br>
				<strong>Audits</strong> 
			</div>
			<div class="small-9 columns text-left">
				<%= link_to new_audit_url do %>
					<i class="fi-plus" ></i> Create New Audit
				<% end %>
			</div>
		</div>
	</div>
</div>

