
<div class="row">
	<div class="small-9 small-centered columns">

		<h2>Create<br><strong>Audit</strong></h2>
		<div class="AdminSectionSpacer"></div>



		<div class="row">
			<div class="small-6 columns">
				<% if flash[:notice] %>
					<div data-alert class="alert-box alert round">
				  	<%= flash[:notice] %>
					  <a href="#" class="close">&times;</a>
					</div>
				<% end %>
				<% if @errors %>
					<div data-alert class="alert-box warning radius">
						<strong>Here's Why:</strong><br>		
							<% @errors.each do |k,v| %>
								<%= k %> <%= v %><br>
							<% end %>
					  <a href="#" class="close">&times;</a>
					</div>
				<% end %>				
				<%= form_for @audit do |f| %>
					<%= f.text_area :name, cols: 20, rows: 5 %>
					<%= f.label :publication_date %>
					<%= f.date_field :publication_date %>
					<%= f.submit 'Create New Audit', class: "tiny radius success button" %> <%= link_to 'Cancel', audits_path, class: "tiny radius info button"  %>

				<% end %>
			</div>
		</div>

	</div>
</div>


<% content_for :admin_footer do %>


<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->
<div id="adminfooter">
  <div class="wrap">
    <div class="row">

			<div class="small-9 columns">

				<div class="small-4 columns leftadminmenu">
					<div class="small-12 columns text-center leftadminhead activehead">
						<strong>Audits</strong>
					</div>
					<div class="small-6 columns text-right">
						<%= link_to audits_url do %>
							All<br><strong>Audits</strong>
						<% end %>
					</div>
					<div class="small-6 columns text-left admin-nav-active">
						
							Create<br><strong>Audit</strong>
						
					</div>
				</div>
				
				<div class="small-1 column">&nbsp;</div>
				
				<div class="small-3 columns leftadminmenu">
					<div class="small-12 columns text-center leftadminhead">
						<strong>Users</strong>
					</div>
					<div class="small-6 columns text-right">
						<%= link_to users_url do %>
							All<br><strong>Users</strong>
						<% end %>
					</div>
					<div class="small-6 columns text-left">
						<%= link_to new_user_url do %>
							Create<br><strong>User</strong>
						<% end %>
					</div>
				</div>
				
				<div class="small-1 column">&nbsp;</div>

				<div class="small-3 columns leftadminmenu end">

						<div class="small-12 columns text-center leftadminhead">
							<strong>Shared Media Library</strong>
						</div>
						
						<div class="small-12 columns text-center end">
							<%= link_to shared_media_library_url do %>
								View<br><strong>Library</strong>
							<% end %>
						</div>
						
				</div>

			</div>

      <div class="small-3 columns text-right rightadminmenu">
        Los Angeles Controller <strong>Audits</strong><br>
        Welcome, <strong><%= @current_user.email %></strong><br>
        <%= link_to 'Logout', logout_url %>
      </div>

    </div>
  </div>
</div>

<% end %>


