<% content_for :title do %>
  Five Minute Summary for <%= @fms.audit.name %>
<% end %>

<h4>Five Minute Summary for <%= @fms.audit.name %></h4>



<% @fms.sections.order_by(:position.asc).each do |s| %>

	<h3><%= s.display_name %></h3>

	<% unless s.content_blocks.empty? %>

	 <% s.content_blocks.order_by(:position.asc).each do |block| %>
		<p><%= block.content %></p>
		<p><%= link_to "Edit this block", edit_content_block_url(block) %></p>
	 <% end %>

		
	
	<% end %>

<% end %>

</p>

