<% content_for :title do %>
  Five Minute Summary for <%= @fms.audit.name %>
<% end %>

<h4>Five Minute Summary for <%= @fms.audit.name %></h4>


<%# display sections %>
<% @fms.section_order.each do |sid| # iterate through sections in order%>
	<% thissection = @fms.sections.find(sid) %>
	<h3><%= thissection.display_name %></h3>

	<% unless thissection.content_blocks.empty? %>

	 <% thissection.block_order.each_with_index do |bid, index| %>
		<% thisblock = thissection.content_blocks.find(bid) # iterate through content blocks in order%>
		<div class="backpanel">
			<p><%= link_to "Add a block before", new_content_block_url(thissection.id, index ) %></p>
			<p><%= thisblock.content %></p>
			<p><%= link_to "Edit this block", edit_content_block_url(thisblock) %></p>
			
			<p><%= link_to "Add a block after", new_content_block_url(thissection.id, index + 1 ) %></p>
		

			<a href="#" data-reveal-id="myModal_<%= bid %>">Delete this block</a>

			<div id="myModal_<%= bid %>" class="reveal-modal tiny" data-reveal>
			  <h6><%= bid %></h6>
			  <p class="lead"><%= thisblock.content %></p>
			  <%= button_to "Delete", content_block_path(thisblock), :method => 'delete' %>
			  
			  <a class="close-reveal-modal">&#215;</a>
			</div>
		</div>
	 <% end %>

	<% end %>

<% end %>

</p>

