<% content_for :title do %>
  Five Minute Summary for <%= @fms.audit.name %>
<% end %>

<h4>Five Minute Summary for <%= @fms.audit.name %></h4>


<%# display sections %>
<% @fms.section_order.each do |sid| # iterate through sections in order%>
	<% thissection = @fms.sections.find(sid) %>
	<h3><%= thissection.display_name %></h3>

	<% unless thissection.content_blocks.empty? %>

	 <% thissection.block_order.each do |bid| %>
		<% thisblock = thissection.content_blocks.find(bid) # iterate through content blocks in order%>
		<p><%= thisblock.content %></p>
		<p><%= link_to "Edit this block", edit_content_block_url(thisblock) %></p>
	 <% end %>

	<% end %>

<% end %>

</p>

