<% content_for :title do %>
  <%= @fms.audit.name %>
<% end %>
<% content_for :publication_date do %>
  <%= @fms.audit.publication_date.strftime("%B %d, %Y") %>
<% end %>

<% content_for :javascript_head do %>
	<%= javascript_tag do %>
		<% if @fms.first_background_photo %>
		  window.bgOne = '<%= j @fms.first_background_photo.photo(:large) %>';
		<% end %>  
		<% if @fms.second_background_photo %>
		  window.bgTwo = '<%= j @fms.second_background_photo.photo(:large) %>';
		<% end %>  
		<% if @fms.third_background_photo %>
		  window.bgThree = '<%= j @fms.third_background_photo.photo(:large) %>';
		<% end %>  
		<% if @fms.fourth_background_photo %>
		  window.bgFour = '<%= j @fms.fourth_background_photo.photo(:large) %>';
		<% end %>  
		<% if @fms.fifth_background_photo %>
		  window.bgFive = '<%= j @fms.fifth_background_photo.photo(:large) %>';
	  <% end %>
	<% end %>
<% end %>

<h4>Five Minute Summary for <%= @fms.audit.name %></h4>

<%= link_to "Edit this Five Minute Summary", edit_five_minute_summary_url(@fms) %>

<%# display sections %>
<% @fms.section_order.each do |sid| # iterate through sections in order%>

	<% thissection = @fms.sections.find(sid) %>
	<h3><%= thissection.display_name %></h3>
	

		<%= render partial: thissection.section_type.downcase, locals: {thissection: thissection} %>
	
	<!-- BEGIN SECTION SPACER -->
	<div class="RASectionSpacer">

	</div>
	<!-- END SECTION SPACER -->

<% end %>


</p>


