<% content_for :title do %>
  <%= @fms.name  %>
<% end %>
<% content_for :bodytitle do %>
  <%= simple_format(@fms.name, {}, wrapper_tag: "div")  %>
<% end %>
<% content_for :publication_date do %>
  <%= @fms.publication_date.strftime("%B %d, %Y") %>
<% end %>
<% content_for :full_audit_link do %><%= public_full_audit_path(@audit).html_safe %><% end %>

<% content_for :javascript_head do %>
	<%= javascript_tag do %>
		<% if !@fms.background_photos[0].blank? %>
		  window.bgOne = '<%= j @fms.background_photos[0] %>';
		<% end %>  
		<% if !@fms.background_photos[1].blank? %>
		  window.bgTwo = '<%= j @fms.background_photos[1] %>';
		<% end %>  
		<% if !@fms.background_photos[2].blank? %>
		  window.bgThree = '<%= j @fms.background_photos[2] %>';
		<% end %>  
		<% if !@fms.background_photos[3].blank? %>
		  window.bgFour = '<%= j @fms.background_photos[3] %>';
		<% end %>  
		<% if !@fms.background_photos[4].blank? %>
		  window.bgFive = '<%= j @fms.background_photos[4] %>';
	  <% end %>
	<% end %>
<% end %>


<%# display sections %>
<% @fms.public_sections.each do |section| # iterate through sections in order%>
	<%= render partial: "/shared/fms_public_section", layout: "/shared/#{section.section_type.downcase}_layout", locals: {thissection: section} %>
	
	<!-- BEGIN SECTION SPACER -->
	<div class="RASectionSpacer">

	</div>
	<!-- END SECTION SPACER -->

<% end %>