<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Los Angeles Controller's Office Audits" %></title>
    <link rel="shortcut icon" href="/img/lacoseal.ico" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= csrf_meta_tags %>

    <%= content_for?(:javascript_head) ? yield(:javascript_head) : "" %>
    <%= javascript_tag do %>
      var adminPage = true;
    <% end %>
  </head>

  <body>
    
    <div class="adminpages">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    


<%= content_for?(:admin_footer) ? yield(:admin_footer) : "" %>


  
  </body>
</html>